body{
    text-align: center;
    background-color: #62b4c6;
    color:white
  }
  
  #container2 {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
  }
  .con {
    width: 500px;
    height: 500px;
    margin: auto;
    /* border: 1px solid red; */
  }
  .con > img {
    width:100%;
  }
  h1 {
   
  
    font-size: 40px;
    text-align: center;
  }
  header {
    font-family: fontawesome;
    width: 100%;
    height: 60px;
    /* border: 1px solid orange; */
    display: flex;
    text-align: center;
  }
  
  #sc {
    text-align: center;
    font-size: 40px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    /* border: 1px solid red; */
    width: 70%;
    height: 80%;
  }
  .bicon {
    /* border: 1px solid red; */
    width: 15%;
    height: 100%;
  }
  
  .home {
    /* border: 1px solid red; */
    width: 15%;
    height: 100%;
  }
  
  #homebutton {
    padding: 10px 30px;
    margin-top: 10px;
    background-color: yellow;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  #tq {
    text-align: center;
  }
  #h1tag {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  