/* body {
  background-color: #f7f7f7;
} */
body{
  font-family: 'Poppins', sans-serif;
}


.product_image_div {
  /* border: 1px solid chocolate; */
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.product_des_div {
  /* border: 1px dotted rgb(30, 57, 210); */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product_des_div div {
  /* border: 1px dotted rgb(30, 57, 210); */
  padding: 5px;
  ;
}


#products_mainContainer {
  /* border: 2px solid rgb(238, 13, 170); */
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  height: 550px;
}

.product_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product_image_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: #3f580ca2;
  color: white;
  visibility: hidden;
  padding: 50%;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in;
}

.product_image_text p {
  font-size: 18px;
}

.product_image_div:hover .product_image_text {
  visibility: visible;
  opacity: 1;
}

.name_h1 {
  color: #486e00;
  margin-bottom: 0px;
  white-space: nowrap;

}

.name_underline {
  width: 50%;
  margin-top: -5px;
}

.pro_head_div {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name_image_div {
  width: 50%;
}

.stock_status {
  font-size: 20px;
}

.product_description {
  color: #314707;
  font-size: 18px;
}

.care_des {
  color: #314707;
  font-size: 18px;
}

.care_head {
  color: #486e00;
}

.product_price {
  color: #486e00;
}

.addToCartbutton {
  background-color: #486e00;
  color: aliceblue;
  padding: 10px;
  width: 120px;
  border: 0px;
  border-radius: 10px;
  margin-right: 10px;
}

.addTofavbutton {
  background-color: #f7f7f7;
  color: #486e00;
  padding: 10px;
  border: 0px;
}

.pro_button_div {
  display: flex;
  align-items: center;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  #products_mainContainer {
    /* border: 2px solid rgb(238, 13, 170); */
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

/* small screens */
@media all and (min-width: 320px) and (max-width: 767px) {
  #products_mainContainer {
    /* border: 2px solid rgb(238, 13, 170); */
    display: flex;
    flex-direction: column;
    height: auto;
  }
}