html {
  /* background-color: #f7f7f7; */
  scroll-behavior:smooth;
}
body{
  font-family: 'Poppins', sans-serif;
}

#yyy{
  height: 100px;
  width: 100%;
}

#navbar{
  z-index: 10;
  /* background-color: #f7f7f7;
  border: 1px solid red; */
}

#current_page {
  text-decoration: underline;
  text-decoration-color: grey;
}

#page-heading {
  color: #486d00;
  width: 30%;
  margin-bottom: 0px;
  font-size: 45px;
}

#path-heading img {
  margin-top: 0px;
  width: 20%;
}


#products-filter {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
}

#filter-div {
  /* border: 1px solid rgb(128, 41, 0); */
  width: 25%;
  height: auto;
  padding-left: 10px;
}

#product-display {
  /* border: 5px solid rgb(45, 0, 128); */
  width: 75%;
}

#mainpart{
  margin-bottom: 50px;
}

#filterheading p {
  text-decoration: underline;
  color: grey;
  font-size: 22px;
  margin-right: 5px;

}

#filter-div div {
  /* border: 1px solid rgb(189, 44, 194); */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;

}

.material-icons {
  color: grey;

}

#page-path {
  color: #486d00;
}

a:link {
  color: #486d00;
  ;
}

/* visited link */
a:visited {
  color: #486d00;
  ;
}

/* mouse over link */
a:hover {
  color: #486d00;
  ;
}

/* selected link */
a:active {
  color: #486d00;
}

.labelcontainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  color: #334907;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.labelcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #344116;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.labelcontainer:hover input~.checkmark {
  background-color: #97a876;
}

/* When the checkbox is checked, add a blue background */
.labelcontainer input:checked~.checkmark {
  background-color: #486d00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  position: absolute;
  display: none;
  content: "";

}

/* Show the checkmark when checked */
.labelcontainerr input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.labelcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.slider {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #486d00;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -3px;
  /* Centers thumb on the track */

  /*custom styles*/
  background: #ddd401;
  height: 1rem;
  width: 1rem;
}


/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #486d00;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 0;
  /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background: #ddd401;
  height: 1rem;
  width: 1rem;
}

#sliderheading {
  color: #486d00;
}

/* #product-container{
  border: 1px solid rgb(11, 14, 59);
} */

.paginationdiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  /* border: 1px solid rgb(189, 44, 194); */
}

.btnpage {
  width: 30px;
  height: 30px;
  background-color: #486d00;
  color: aliceblue;
  margin-right: 10px;
  border: 0px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  #products-filter {
    display: flex;
    flex-direction: column;
  }
  #mainpart{
    margin-bottom: 0px;
  }

  #product-display {
    width: 100%;
  }

  #filter-div {

    width: 100%;
    height: auto;

  }
  #mainpart{
    margin-bottom: 0px;
  }
}