
    body{
        background-image: url('https://img.freepik.com/free-vector/copy-space-bokeh-spring-lights-background_52683-55649.jpg');
         background-size: cover;
        /* border:solid #BDC5A9 10px;  */
        height: 95vh; 
        border-radius: 10px;
        margin: 0; 
    }
    /* ::-webkit-scrollbar-button {
        display: none;
      }
      ::-webkit-scrollbar {
        width: 5px;
        display: none;
      } */

#signup-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    background-color: white;
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
     
}
label{
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    font-weight: 450;
}
input{
    padding: 11px;
    margin-bottom: 10px;
    margin-top: 7px;
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;  
    overflow: hidden;
}
#submit-button{
    padding: 11px; 
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    color: #FFFEF8;
    background-color: rgb(53,94,0);
    border-style: none;
    border-radius: 7px;
}
h2{
    text-align: center;
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
}
h3{
    text-align: center;
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    font-size: 15px;
}
.enter-details{
    color: red;
    /* margin-top: -18px; */
    margin-bottom: 12px;
    display: none;
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    font-size: 12px;
    
}
#account-creation{
    display: none;
    color: rgb(3, 90, 112);
    font-size: 13px;
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
}
#signin-col{
    color: rgb(42, 175, 228);
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    color:  rgb(53,94,0);
}